* {
   margin: 0;
   padding: 0;
}

@font-face {
    font-family: 'bright_demoregular';
    src: url('./fontkit-bright/brightdemo-axvxe-webfont.woff2') format('woff2'),
         url('./fontkit-bright/brightdemo-axvxe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'crimescencrimesceneafterimage';
    src: url('./fontkit-crime/crimesceneafterimage-webfont.woff2') format('woff2'),
         url('./fontkit-crime/crimesceneafterimage-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
}

header {
    background-image: url("./assets/reco-banner.jpeg");
    background-repeat: no-repeat;
    height: 800px;
    background-size: contain
}

h1 {
    text-align: center;
    padding-top: 20%;
    font-family: 'crimescencrimesceneafterimage';
    /* font-style: italic; */
    font-size: 1200%;
    color: #522641
    /* letter-spacing: -3px; */
}

h2 {
    padding-top: 12%;
}

h4 {
    padding-top: 20px;
}

.album-div {
    /* background: white;*/
    /* margin: 5%; */
}

.album-cover {
    float: left;
    width: auto; 
    height: 400px;
    /*padding-top: 2%; 
    padding-bottom: 2%;
    padding-left: 2%;*/
    margin: 150px;
    
    
}

.album-div-odd {
    background-color: white;
}
.album-div-even {
    background-color: #f9f6f0; 
   }

.album-div-odd, .album-div-even {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    height: 700px;
    font-family: helvetica; 
}

li {
    list-style-type: none;
}